* {
    margin: 0;
    padding: 0;
}


/*--------------------------*/
/*----- Reusable Style -----*/
/*--------------------------*/
.container {
    padding: 20px 10%;
}

body {
    font-family: "Inter", sans-serif;
}

/* Navbar Style */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
    list-style: none;
    gap: 15px;
}

.menu li a {
    text-decoration: none;
    color: #575757;
    font-family: "Arimo", sans-serif;
    font-weight: 500;
    padding: 0 5px;
}

.navbar button {
    background-color: #1D4ED8;
    color: white;
    border: none;
    padding: 7px 20px;
    border-radius: 5px;
}

.navbar button:hover {
    background-color: #082b8b;
    transition: 0.3s;
}


/* Hero Style */
header {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../images/banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 90vh;
    display: grid;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    gap: 20px;
    text-align: center;

}

.hero h1 {
    margin-top: 80px;
    font-size: 60px;
    font-weight: bold;
}

.hero button {
    margin-top: 320px;
    background-color: #1D4ED8;
    color: white;
    border: none;
    padding: 15px 40px;
    border-radius: 5px;
}

.hero button:hover {
    background-color: #082b8b;
    transition: 0.2s;
    outline: 1px solid white;
}


/* Meet Speakers Style */
.meet-speaker h2 {
    font-size: 40px;
    padding: 30px 0;
    text-align: center;
    margin: 20px 0
}

.speaker-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    row-gap: 35px;
    column-gap: 35px;
}

.speaker-box .box {
    border: 0.5px solid #cfcccc;
    border-radius: 12px;
    transition: 0.3s;
}

.speaker-box .box:hover {
    transform: scale(1.03);
}

.speaker-box .box img{
    width: 100%;
    border-radius: 12px 12px 0 0;
}

.speaker-box .box small {
    color: #2563EB;
    margin: 8px;
}

.speaker-box .box h3,
.speaker-box .box .p-2 {
    margin: 8px;
}


/* Pricing Style */
.price-sec {
    margin-top: 40px;
}

.price-sec h2 {
    
    text-align: center;
    font-size: 40px;
}

.price-sec p {
    text-align: center;
    padding: 10px 0;
    margin-bottom: 20px;
}

.price-card {
    margin-top: 45px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 50px;
}

.price-card .card {
    outline: 1px solid #cfcccc;
    padding: 25px;
    border-radius: 12px;
    transition: 0.3s;
}

.price-card .card:hover{
    transform: scale(1.05);
}

.price-card .card p {
    text-align:  left;
    font-size: 16px;
}

.price-card .card h3 {
    font-size: 55px;
}

.price-card .card hr {
    margin-top: 12px;
}

.price-card .card ul {
    margin: 15px 0 15px 20px;
    display: grid;
    gap: 20px;
}

.price-card .card li {
    font-size: 20px;
}

.price-card .card button {
    background-color: #fff;
    color: #2563EB;
    width: 100%;
    padding: 15px 0;
    border: none;
    outline: 0.5px solid #99bed1;
    border-radius: 4px;
}

.price-card .card button:hover {
    background-color: #e8e8e9;
}

.price-card .highlight-card {
    background-color: #0D1B2A;
}

.price-card .highlight-card p,
.price-card .highlight-card h3,
.price-card .highlight-card small,
.price-card .highlight-card li {
    color: white;
}

.price-card .highlight-card button {
    background-color: #2563EB;
    color: white;
    outline: none;
}

.price-card .highlight-card button:hover {
    background-color: #2854b4;
}


/* Footer Style */
footer {
    margin-top: 50px;
    background-color: #0D1B2A;
    color: #97b7da;
    height: 25vh;
    display: grid;
    align-items: center;
}

.footer-upper-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-media {
    display: flex;
    gap: 20px;
    list-style: none;
}

.footer-down-area {
    display: flex;
    justify-content: space-between;
}

.policy-terms a {
    text-decoration: none;
    color: #97b7da;
    padding: 0 12px;
}